@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

@layer base {
  .text-preset-1 {
    @apply font-bellafair text-11;
    letter-spacing: 0px;
    line-height: auto;
  }

  .text-preset-2 {
    @apply font-bellafair text-10;
    letter-spacing: 0px;
    line-height: auto;
  }

  .text-preset-3 {
    @apply font-bellafair text-6;
    letter-spacing: 0;
    line-height: auto;
  }

  .text-preset-4 {
    @apply font-bellafair text-4;
    letter-spacing: 0px;
    line-height: auto;
  }

  .text-preset-6 {
    @apply font-barlow-condensed text-3;
    line-height: auto;
    letter-spacing: 15%;
  }

  .text-preset-8 {
    @apply font-barlow-condensed text-1;
    letter-spacing: 0.15em;
    line-height: auto;
  }

  .text-preset-9 {
    @apply font-barlow text-2;
    line-height: 180%;
    letter-spacing: 0px;
  }

  .text-preset-2-md {
    @apply font-bellafair text-11;
  }

  .text-preset-3-md {
    @apply font-bellafair text-9;
  }

  .text-preset-4-md {
    @apply font-bellafair text-6;
  }

  .text-preset-5-md {
    @apply font-barlow-condensed text-5;
    line-height: auto;
    letter-spacing: 0.15em;
  }

  .text-preset-9-md {
    @apply font-barlow text-3;
    letter-spacing: 0px;
    line-height: 180%;
  }

  .text-preset-1-lg {
    @apply font-bellafair text-13;
  }

  .text-preset-2-lg {
    @apply font-bellafair text-12;
  }

  .text-preset-3-lg {
    @apply font-bellafair text-10;
  }

  .text-preset-4-lg {
    @apply font-bellafair text-8;
  }

  .text-preset-5-lg {
    @apply font-barlow-condensed text-7;
    letter-spacing: 4px;
  }

  .text-preset-6-lg {
    @apply font-bellafair text-7;
  }

  .text-preset-7-lg {
    @apply font-barlow-condensed text-1;
    line-height: auto;
    letter-spacing: 2px;
  }

  .text-preset-8-lg {
    @apply font-barlow-condensed text-3;
    letter-spacing: 2px;
  }

  .text-preset-8-bold-lg {
    @apply font-barlow-condensed text-3;
    font-weight: bold;
    letter-spacing: 2.7px;
    line-height: auto;
  }

  .text-preset-9-lg {
    @apply font-barlow text-4;
    letter-spacing: 0px;
    line-height: 180%;
  }

  .unset {
    @apply bottom-unset end-unset left-unset right-unset top-unset m-unset mx-unset my-unset me-unset ms-unset size-unset h-unset max-h-unset min-h-unset w-unset min-w-unset max-w-unset gap-unset p-unset px-unset py-unset opacity-0;
  }
}