@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

@layer base {
  .unset {
    @apply bottom-unset end-unset left-unset right-unset top-unset m-unset mx-unset my-unset me-unset ms-unset size-unset h-unset max-h-unset min-h-unset w-unset min-w-unset max-w-unset gap-unset p-unset px-unset py-unset opacity-0;
  }

  .text-preset-1 {
    @apply font-bellafair text-8xl font-normal leading-[5.75rem] sm:leading-none tracking-normal md:text-10xl;
  }

  .text-preset-2 {
    @apply font-bellafair text-7xl font-normal leading-none tracking-normal xs:text-8xl md:text-9xl;
  }

  .text-preset-3 {
    @apply font-bellafair text-3xl font-normal leading-none tracking-normal xs:text-6xl md:text-7xl;
  }

  .text-preset-4 {
    @apply font-bellafair text-xl font-normal leading-none tracking-normal xs:text-3xl md:text-5xl;
  }

  .text-preset-5 {
    @apply font-barlow-condensed font-normal leading-none text-base sm:text-2xl xs:tracking-[0.15em] md:text-4xl md:tracking-[4px];
  }

  .text-preset-6 {
    @apply font-bellafair text-base font-normal leading-none tracking-[0.15em] xs:tracking-normal md:text-4xl;
  }

  .text-preset-7 {
    @apply font-barlow-condensed font-normal leading-none tracking-[2px] md:text-xs;
  }

  .text-preset-8 {
    @apply font-barlow-condensed text-base font-normal leading-none tracking-[2px];
    direction: rtl;
    text-align: justify;
    text-indent: -0.067em;
  }

  .text-preset-8-bold {
    @apply font-barlow-condensed text-base font-bold leading-none tracking-[2.7px];
    text-indent: -0.1881em;
    direction: rtl;
    text-align: justify;
  }

  .text-preset-9 {
    @apply font-barlow text-sm font-normal leading-[180%] tracking-normal sm:text-base md:text-xl;
  }
}
